<div class="calcontainer">
  
  <h1>CALCULATOR</h1>
  <div class="displaywindow">
    <mat-form-field class="window">
      <input matInput class="exp"  [(ngModel)]="val" placeholder="type here">
    </mat-form-field>
  </div>
  <div class="calkeys">
    <button mat-raised-button color="primary" value="1" (click)="appendexp($event)">1</button>
    <button mat-raised-button color="primary" value="2" (click)="appendexp($event)">2</button>
    <button mat-raised-button color="primary" value="3" (click)="appendexp($event)">3</button>
    <button mat-raised-button color="primary" value="+" (click)="appendexp($event)">+</button>
    <button mat-raised-button color="primary" value="5" (click)="appendexp($event)">4</button>
    <button mat-raised-button color="primary" value="5" (click)="appendexp($event)">5</button>
    <button mat-raised-button color="primary" value="6" (click)="appendexp($event)">6</button>
    <button mat-raised-button color="primary" value="-" (click)="appendexp($event)">-</button>
    <button mat-raised-button color="primary" value="7" (click)="appendexp($event)">7</button>
    <button mat-raised-button color="primary" value="8" (click)="appendexp($event)">8</button>
    <button mat-raised-button color="primary" value="9" (click)="appendexp($event)">9</button>
    <button mat-raised-button color="primary" value="*" (click)="appendexp($event)">*</button>
    <button mat-raised-button color="primary" (click)="backspace()">←</button>
    <button mat-raised-button color="primary" value="0" (click)="appendexp($event)">0</button>
    <button mat-raised-button color="primary" value="." (click)="appendexp($event)">.</button>
    <button mat-raised-button color="primary" value="=" (click)="res()">=</button>
    <button mat-raised-button color="primary" value="(" (click)="appendexp($event)">(</button>
    <button mat-raised-button color="primary" value=")" (click)="appendexp($event)">)</button>
    <button mat-raised-button color="primary" (click)="clear()">Clear</button>
  </div>
</div>
